body{background-image: url("Wat-Si-Saket5.jpg") ;
    z-index=1;
    width:1500px;
    height:900px;
    background-color:none;
    background-attachment:fixed;

}
.new{
    width:1500px;
    word-wrap:normal;
    background-color: sandybrown;
    box-shadow: inset 5px 5px 5px chocolate;
    color: black;
}

.heading
{   width: 1620px;
    height:75px;
    color:honeydew;
    font-size:40px;
    font-style: unset;
    background:linear-gradient(black,orange);
    z-index=9999;
}
.h1{
    color: midnightblue;}
img
{ float:right;
    margin: 10px}
table.auto{
    border: 1px yellowgreen;
    border-collapse: separate;
    border-spacing: 40px 50px;
    padding: 40px;
    margin:40px;
    width: 800px;
    empty-cells: hide;

}

